<div class="container">
  <h2 class="title text-center mt-4 mb-2">Para finalizarmos, conte um pouco mais sobre você! Desta forma, teremos a certeza que vocês serão muito felizes juntos!</h2>
  <div class="devise-card mt-4 mb-5 mx-auto">
    <%= render 'form', adoption_form: @adoption_form %>
  </div>
</div>
