<% if user_signed_in? && current_user.adopter? %>
  <p class="navigation mb-1 mt-5"><%= link_to "Home", "/", class:"navigation" %> / <%= @adoption.animal.user.first_name %> <%= @adoption.animal.user.last_name %></p>

  <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-dark-green" %>

<% else %>


<% end %>
