<!-- Como usuario (adoção), eu posso ver minhas 'aplicações' -->

<ul>
  <% @adoptions.each do |adoption| %>
    <li><%= adoption.animal.user.first_name %></li>
  <% end %>
</ul>

<!-- botão para voltar e ver todos os animais cadastrados (index animals) -->
<%= link_to 'Voltar aos animais com meu perfil ', animal_path(@animal), class: 'btn btn-primary' %>
