<!-- Criação de adoption -->

<div class="container">
  <h2 class="text-center mt-4 mb-0">Selecione uma data</h2>
  <div class="devise-card mt-4 mb-5 mx-auto">
    <%= simple_form_for [@user, @animal, @adoption] do |f| %>
    <%= f.input :date, as: :date, label: 'Data da adoção:', start_year: Date.today.year, end_year: Date.today.year + 1 %>
    <%= f.button :submit, class:"btn-yellow" %>

  <% end %>
  </div>
</div>

<!-- fazer botão para todos os 'matches' (index animals) -->
<%= link_to 'Voltar aos animais', animal_path(@animal), class: 'btn btn-primary' %>
