<!-- pagina de 'match' da adoção logo após o cadastro -->
<h1>DEU MATCH</h1>



<!-- fazer botão para todos os 'matches' (index animals) -->
<%= link_to 'Ver outros aos animais com meu perfil ', animal_path(@animal), class: 'btn btn-primary' %>
