<ul>
  <%= link_to "Adicionar animal", new_user_animal_path(current_user), class: "nav-link btn btn-dark-green" %>
  <% @animals.each do |animal| %>
    <li><%= animal.name %></li>
  <% end %>
</ul>

<!-- botão para voltar e ver minha pagina principal (index user) -->
 <%= link_to 'Voltar ao menu principal', user_path(@user), class: 'btn btn-primary' %>
