.number {
    color: $dark-caramel;
    background-color: $caramel-grey;
    font-family: $my-font;
    font-size: 23px;
    width: 35%;
}

.adopted {
    color: $dark-caramel;
    background-color: $caramel-grey;
    font-family: $base-font;
    font-size: 17px;
    font-weight: bold;
}

.adopted-btn {
    color: $caramel-grey;
    background-color: $dark-caramel;
    font-family: $base-font;
    font-size: 17px;
    font-weight: bold;
}